
/* modal */
#modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12345;
    display: none;
}

#modal-wrapper .modal {
    background-color: white;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    text-align: center;
    background-image: url('../img/bgm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    
}

.modal-content h1 {
    font-size: 2rem;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.modal-content h3 {
    font-size: 1rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

#button-box {
    width: 70vh;
    display: flex;
    justify-content: flex-end;
}

.my-button {
    color: red;
    background-color: yellow;
    height: 5vh;
    width: 20vh;
    font-size: 4vh;
    text-align: center;
    padding: 0;
}