body{
    margin: 0px;
}
heading{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    box-shadow: 5px;
}
.existing-user{
    background-color: grey;
}
.existing-user{
    background-color: grey;
}