body {
    margin: 0px;
    padding: 0px;
    background-image: url(img/public-transport.png")
}
/* Modal START */
#modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12345;
    display: none;
}

#modal-wrapper .modal {
    background-color: white;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    text-align: center;
    background-image: url('../img/bgm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content h1 {
    font-size: 2rem;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.modal-content h3 {
    font-size: 1rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

#button-box {
    width: 70vh;
    display: flex;
    justify-content: flex-end;
}

.my-button {
    color: red;
    background-color: yellow;
    height: 5vh;
    width: 20vh;
    font-size: 4vh;
    text-align: center;
    padding: 0;
}
/* Modal END */

/* Homepage START */
.header{
    display: flex;
    position: fixed;
    z-index: 9;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    box-shadow: 5px;
    background-color: #462F79;
    color: white;
    font-size: 22px;
}
.logo{
    margin: 10px 0px 10px 50px;
}
.how-to{
    margin: 10px 50px 10px 0px;
}
.existing-user{
    background-color: #8CE95C;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}
.new-user{
    background-color: #8CE95C;
    text-align: center;
    height: 50vh;
}
h1{
    text-align: center;
    margin: 100px;
    color: #8CE95C;
    font-size: 38px;
}
.existing-user > h4, .new-user > h4{
    background-color: #462F79;
    padding: 15px 0px;
    margin: 0px;
    color: white;
}
#rav-kav-number{
    width: 60%;
    margin: auto;
    text-align: center;
}
#rav-kav-number-button{
    width: 60%;
    margin: auto;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    color: white;
    background-color: #462F79;
}
a {
    all: unset;
    cursor: pointer;
}
#how-to{
    margin: 10px 50px 10px 0px;
    cursor: pointer;
}
.existing-user{
    background-color: #8CE95C;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}
.new-user{
    background-color: #8CE95C;
    text-align: center;
    height: 50vh;
}
h1{
    text-align: center;
    margin: 100px;
    color: #8CE95C;
    font-size: 38px;
}
.existing-user > h4, .new-user > h4{
    background-color: #462F79;
    padding: 15px 0px;
    margin: 0px;
    color: white;
}
#rav-kav-number{
    width: 60%;
    margin: auto;
    text-align: center;
}
#rav-kav-number-button{
    width: 60%;
    margin: auto;
}
/* Homepage END */